<div class="top-message col-md-offset-3 col-md-6">
	<h1>welcome to <span class="glyphicon glyphicon-book"></span>Bookers !!</h1>
	<p><strong>In <span class="glyphicon glyphicon-book"></span>Bookers,</strong></p>
	<p>you can share and exchange your opinions , inpressions , and emotions<br>

about varioius books!</p>
<p><%= link_to "log in", new_user_session_path, :class => "btn btn-info col-xs-10 col-xs-offset-1 sign_in" %></p>
<p><%= link_to "sign up", new_user_registration_path, :class => "btn btn-success col-xs-10 col-xs-offset-1 sign_up" %></p>
</div>
